<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Cash Balance Report
                <small>Cash Details</small>
                <br> </h2>

       <form class="pmbb-edit" name="CashForm" novalidate>

           <div class="card-body card-padding">
               <div class="row">
                   <div class="col-sm-2 m-b-10">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate1.$touched && CashForm.joiningDate1.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                           <input type="text" name="joiningDate1" ng-model="cashCollection.fromdate" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate1.$error"
                                 ng-show="CashForm.joiningDate1.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                       </div>
                   </div>

                   <div class="col-sm-2 m-b-10">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate2.$touched && CashForm.joiningDate2.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                           <input type="text" name="joiningDate2" ng-model="cashCollection.todate" ng-change="toDateCashCollection" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate2.$error"
                                 ng-show="CashForm.joiningDate2.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                       </div>
                   </div>

                   <!--<div class="col-sm-1 m-b-10">
                           <label>OR</label>
                   </div>

                   <div class="col-sm-2 m-b-10">
                       <div class="form-group fg-line">
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Month</label>
                           <select name="document" chosen class="form-control" ng-model="cashCollection.month"
                                   data-placeholder-text-single="'Select Document Type'">
                               <option value="1">January</option>
                               <option value="2">Feb</option>
                               <option value="3">March</option>
                               <option value="">Select Document</option>
                           </select>
                       </div>
                   </div>

                   <div class="col-sm-2 m-b-10">
                       <div class="form-group fg-line">
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Year</label>
                           <select name="document" chosen class="form-control" ng-model="cashCollection.year"
                                   data-placeholder-text-single="'Select Document Type'">
                               <option value="2016">2016</option>
                               <option value="2017">2017</option>
                               <option value="">Select Document</option>
                           </select>
                       </div>
                   </div>-->

                   <div class="col-sm-2 m-b-15">
                       <div class="form-group fg-line">
                         &nbsp;<label>Registration Centres</label>
                           <select chosen class="form-control"
                                   ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                                   ng-model="RegistrationCenter.location"
                                   ng-change="selectedRegistrationCenters(RegistrationCenter.location)">
                               <option value="">All</option>
                           </select>
                       </div>
                   </div>




               </div>
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-click="sendDetails()" ng-disabled="CashForm.$invalid">
                   <i class="zmdi zmdi-save"></i> Generate Report
               </button>
               <!--ng-disabled="CashForm.$invalid"-->
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-disabled="CashForm.$invalid" >
                   <i class="zmdi zmdi-eye"></i>
                   <a ui-sref="admin.accounts.cash-collectionsummary-print" style="color: white">Print Report</a>
               </button>
           </div>
            </form>

        </div>
        <div class="card-body">

            <div class="table-responsive"  ng-if="TableWithRegistration == true" >
                <table ng-table="cashCollectionTable" class="table table-striped table-vmiddle">
                    <tr ng-repeat="cash in CashCollection">
                        <td data-title="'Date'"  filter="{ dateTime: 'text'}">
                            {{cash.date | date : "dd MMM yy"}}
                        </td>
                        <td data-title="'Total Cash'" filter="{ openingBalance: 'text'}">
                            {{cash.cash }}
                       </td>
                        <td data-title="'Refund'" filter="{ openingBalance: 'text'}">
                           {{cash.refunds}}
                       </td>
                    </tr>
                </table>
            </div>

                <!--table for cash balance report with out registration centre-->
                <div class="table-responsive" ng-if="TableWithOutRegistration == true" >
                    <table ng-table="CashBalanceTable" class="table table-striped table-vmiddle">
                        <tr ng-repeat="cash in cashBalance">
                            <td data-title="'Date'" >
                                {{cash.dateTime | date : "dd MMM yy"}}
                            </td>
                            <td data-title="'Opening Balance'">
                                {{cash.openingBalance}}
                            </td>
                            <td data-title="'Cash Collected'">
                                {{cash.cashCollected}}
                            </td>
                            <td data-title="'Refunds'">
                                {{cash.refund}}
                            </td>
                            <td data-title="'Bank Deposit'">
                                {{cash.bankDeposits}}
                            </td>
                            <td data-title="'Closing Balance'">
                                {{cash.closingBalance}}
                            </td>
                            <td data-title="'Deposit Status'">
                                {{cash.depositStatus}}
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</div>


