<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Cash Balance Report
                <small>Cash Details</small>
                <br> </h2>

       <form class="pmbb-edit" name="CashForm" novalidate>

           <div class="card-body card-padding">
               <div class="row">
                   <div class="col-sm-3 m-b-20">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate1.$touched && CashForm.joiningDate1.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                           <input type="text" name="joiningDate1" ng-model="cashCollection.fromdate" ng-change="fromDateCashCollection" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate1.$error"
                                 ng-show="CashForm.joiningDate1.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                       </div>
                   </div>

                   <div class="col-sm-3 m-b-20">
                       <div class="form-group fg-line"
                            ng-class="{ 'has-error': CashForm.joiningDate2.$touched && CashForm.joiningDate2.$invalid }" >
                           <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                           <input type="text" name="joiningDate2" ng-model="cashCollection.todate" ng-change="toDateCashCollection" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                                  uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                           <span class="help-block"
                                 ng-messages="CashForm.joiningDate2.$error"
                                 ng-show="CashForm.joiningDate2.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                       </div>
                   </div>


                       <div class="col-sm-3 m-b-20">
                           <div class="form-group fg-line">
                               <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Registration Centres</label>
                               <select chosen class="form-control"
                                       ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                                       ng-model="RegistrationCenter.location"
                                       ng-change="selectedRegistrationCenters(RegistrationCenter.location)">
                                   <option value="">All</option>
                               </select>
                           </div>
                       </div>


               </div>
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-click="sendDetails()" ng-disabled="CashForm.$invalid">
                   <i class="zmdi zmdi-save"></i> Generate Report
               </button>
               <button type="button" class="btn btn-icon-text btn-success waves-effect"
                       ng-disabled="CashForm.$invalid" >
                   <i class="zmdi zmdi-eye"></i>
                   <a ui-sref="admin.accounts.bankcashdeposits.totalcash-report-print" style="color: white">Print Report</a>
               </button>
           </div>
            </form>

        </div>
        <div class="card-body">

            <div class="table-responsive" >
                <table ng-table="cashCollectionTable" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="cash in $data">
                        <td data-title="'Date'"  filter="{ dateTime: 'text'}">
                            <a>{{cash.date | date : "dd MMM yy"}}</a>
                        </td>
                        <td data-title="'Total Cash'" filter="{ openingBalance: 'text'}">
                           {{cash.cash}}
                       </td>
                        <td data-title="'Refund'" filter="{ openingBalance: 'text'}">
                           {{cash.refunds}}
                       </td>
                      <!--<td data-title="'Opening Balance'" filter="{ openingBalance: 'text'}">
                          {{cash.openingBalance}}
                      </td>
                      <td data-title="'Bank Deposits'" filter="{ 'bankDeposit': 'text'}">
                          {{cash.bankDeposit}}
                      </td>
                      <td data-title="'Cash Collected'" filter="{ cashCollected: 'text'}">
                          {{cash.cashCollected}}
                      </td>
                      <td data-title="'Refunds'" filter="{ refund: 'text'}">
                           {{cash.refund}}
                      </td>
                      <td data-title="'Closing Balance'" filter="{ closingBalance: 'text'}">
                           {{cash.closingBalance}}
                      </td>-->
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


