<div class="container">
    <div class="card">
        <div class="card-header ch-alt m-b-20">
            <h2>Daywise Transaction Report
                <small>Cash Details</small>
                <br> </h2>
            <form class="pmbb-edit" name="DaywiseCashForm" novalidate>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': DaywiseCashForm.joiningDate1.$touched && DaywiseCashForm.joiningDate1.$invalid }" >
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>From Date</label>
                                <input type="text" name="joiningDate1" ng-model="daywiseCollection.fromdate" ng-change="fromdate" ng-focus="joiningDate1=true" ng-click="joiningDate1=true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate1" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                                <span class="help-block"
                                      ng-messages="DaywiseCashForm.joiningDate1.$error"
                                      ng-show="DaywiseCashForm.joiningDate1.$touched">
                                                <small ng-message="required">From Date is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line"
                                 ng-class="{ 'has-error': DaywiseCashForm.joiningDate2.$touched && DaywiseCashForm.joiningDate2.$invalid }" >
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>To Date</label>
                                <input type="text" name="joiningDate2" ng-model="daywiseCollection.todate" ng-change="todate" ng-focus="joiningDate2=true" ng-click="joiningDate2=true"
                                       uib-datepicker-popup="dd/MM/yyyy" is-open="joiningDate2" show-button-bar="true" class="form-control" placeholder="eg. 16/09/2012" chars="none" required >
                                <span class="help-block"
                                      ng-messages="DaywiseCashForm.joiningDate2.$error"
                                      ng-show="DaywiseCashForm.joiningDate2.$touched">
                                                <small ng-message="required">To Date is required</small>
                                            </span>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line">
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Registration Centres</label>
                                <select chosen class="form-control"
                                        ng-options="RegistrationCenter as RegistrationCenter.location for RegistrationCenter in RegistrationCenters"
                                        ng-model="RegistrationCenter.location"
                                        ng-change="selectedRegistrationCenters(RegistrationCenter.location)">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3 m-b-20">
                            <div class="form-group fg-line">
                                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;<label>Transaction Type</label>
                                <select chosen class="form-control" ng-model="daywiseCollection.transactionType"
                                        name="transactionType">
                                    <option value="">All</option>
                                    <option value="Registration" >Registration</option>
                                    <option value="Refund">Refund</option>
                                    <option value="Topup">Topup</option>
                                    <option value="Security Deposit">Security Deposit</option>
                                    <option value="Processing Fee">Processing Fee</option>
                                    <option value="Unused Balance">Unused Amount</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-click="sendDaywiseDetails()" ng-disabled="DaywiseCashForm.$invalid">
                        <i class="zmdi zmdi-save"></i> Generate Report
                    </button>
                    <button type="button" class="btn btn-icon-text btn-success waves-effect"
                            ng-disabled="DaywiseCashForm.$invalid" >
                        <i class="zmdi zmdi-eye"></i>
                        <a ui-sref="admin.accounts.daywise-collectionsummary-report-print" style="color: white">Print/CSV Report</a>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive" >
                <table id="export_table" ng-table="daywiseTable" class="table table-striped table-vmiddle" show-filter="false">
                    <tr ng-repeat="daywises in $data">
                        <td data-title="'Date'" filter="{ creditBalance: 'text'}">
                            {{daywises.createdAt |  date : "dd MMM yy"}}
                        </td>
                        <td data-title="'Payer'" filter="{ creditBalance: 'text'}">
                            {{daywises.memberId.Name}}
                        </td>
                        <td data-title="'Transaction No'" filter="{ name: 'text'}" filter="{ lastName: 'text'}">
                            <a ui-sref="admin.members.edit({id: member._id})">{{daywises.invoiceNo}}</a>
                        </td>
                        <td data-title="'Transaction Type '" filter="{ emailAddress: 'text'}">{{daywises.paymentDescription}}</td>
                        <td data-title="'Paymode'" filter="{ phoneNumber: 'text'}">
                            {{daywises.paymentMode}}
                        </td>
                        <td data-title="'Amount'" filter="{ 'subscriptionType': 'text'}">
                            <label ng-if="daywises.credit >0"> {{daywises.credit}}</label>
                            <label ng-if="daywises.debit >0"> {{daywises.debit}}</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



