<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="container">
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img src="assets/images/trintrin.jpg" class="i-logo"/>
            <h3>Trin Trin</h3>
            <h2>Mysuru</h2>
        </div>
        <br>
        <div class="card-header ch-alt text-center">
            <h2>Daywise Transaction Report </h2>
        </div>
        <br>
        <form class="pmbb-edit" name="TotalCashReport"  novalidate>
            <div class="card-header ch-alt text-center">
                &nbsp;&nbsp;<label>From &nbsp;:</label>
                <span ng-bind="daywiseCollectionSummaryInput.DayWisefromdate | date : 'dd MMM yy '"></span>&nbsp;&nbsp;-&nbsp;
                &nbsp;<label>To&nbsp;:</label>
                <span ng-bind="daywiseCollectionSummaryInput.DayWisetodate | date : 'dd MMM yy '"></span>&nbsp; | &nbsp;
                <label>Registration Centre&nbsp;:</label>
                <span ng-if="daywiseCollectionSummaryInput.DayWiselocation == '' || daywiseCollectionSummaryInput.DayWiselocation == null || daywiseCollectionSummaryInput.DayWiselocation == undefined">All</span>&nbsp;
                <span ng-if="daywiseCollectionSummaryInput.DayWiselocation != ''">{{daywiseCollectionSummaryInput.DayWiselocation}}</span>&nbsp; |
                &nbsp;<label>Transaction Type&nbsp;:</label>
                <span ng-if="daywiseCollectionSummaryInput.DayWiseTransactionType == '' || daywiseCollectionSummaryInput.DayWiseTransactionType == null || daywiseCollectionSummaryInput.DayWiseTransactionType == undefined">All</span>&nbsp;
                <span ng-if="daywiseCollectionSummaryInput.DayWiselocation != ''">{{daywiseCollectionSummaryInput.DayWiseTransactionType}}</span>&nbsp;
            </div>
            <br>
            <div style="text-align: center">
            <button id="export" data-export="export" class="btn btn-icon-text btn-success waves-effect">Export to CSV</button>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                </div>
            </div>
        </form>
    </div>

    <div >
        <table id="export_table" ng-table="DayWiseCollectionSummaryPrintTable" class="table" >
            <tr ng-repeat="DayWiseSummaryPrint in $data">
                <td data-title="'Date'">
                    {{DayWiseSummaryPrint.createdAt | date : "dd MMM yy"}}
                </td>
                <td data-title="'Payer'">
                    {{DayWiseSummaryPrint.memberId.Name}}
                </td>
                <td data-title="'Transaction Number'">
                    {{DayWiseSummaryPrint.invoiceNo}}
                </td>
                <td data-title="'Transaction Type '" filter="{ emailAddress: 'text'}">
                    {{DayWiseSummaryPrint.paymentDescription}}
                </td>
                <td data-title="'Paymode'">
                    {{DayWiseSummaryPrint.paymentMode}}
                </td>
                <td data-title="'Amount'">
                    {{DayWiseSummaryPrint.credit}}
                </td>
            </tr>
        </table>
    </div>
</div>
<button  class="btn btn-float bgm-red m-btn" ng-click="myFun()"><i class="zmdi zmdi-print"></i></button>
<!--<button  class="btn btn-float bgm-red m-btn" ng-click="myFun()"><i class="zmdi zmdi-print"></i>CSV</button>-->
<script>
    $(function(){
        $("#export").click(function(){
            $("#export_table").tableToCSV();
        });
    });
</script>




