<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="javascript:void(0);" toggle-submenu>
            <div class="profile-pic">
                <img src="assets/images/profile-pic.png" alt="{{profileName}}">
            </div>

            <div class="profile-info">
                {{profileName}} <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
           <!-- <li ng-class="{active: $state.includes('admin.profile.edit')}">
                <a ui-sref="admin.profile.edit"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>-->
            <li>
                <a href="javascript:void(0);" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu" ng-if="role=='admin'">
        <li ng-class="{active: $state.includes('admin.members')}">
            <a ui-sref="admin.members.manage"><i class="zmdi zmdi-mood"></i> Members</a>
        </li>
        <li ng-class="{active: $state.includes('admin.employees')}" ng-if='admin'>
            <a ui-sref="admin.employees.manage"><i class="zmdi zmdi-accounts-alt"></i> Employees</a>
        </li>
        <li ng-class="{active: $state.includes('admin.membership')}">
            <a ui-sref="admin.membership.manage"><i class="zmdi zmdi-card-membership"></i> Membership Plans</a>
        </li>
        <li ng-class="{active: $state.includes('admin.fare-plans')}">
            <a ui-sref="admin.fare-plans.manage"><i class="zmdi zmdi-money-box"></i> Fare Plans</a>
        </li>

        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.docking-stations') || $state.includes('admin.docking-units') || $state.includes('admin.docking-ports') || $state.includes('admin.bicycles') || $state.includes('admin.redistribution-vehicles') || $state.includes('admin.holding-areas') || $state.includes('admin.maintenance-centres') || $state.includes('admin.registration-centres') || $state.includes('admin.smart-cards') || $state.includes('admin.other-stations.maintenance-centre')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Assets</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.docking-stations')}"
                       ui-sref="admin.docking-stations.manage">Docking
                    Stations</a></li>
               <!-- <li><a ng-class="{'active': $state.includes('admin.docking-units')}"
                       ui-sref="admin.docking-units.manage">Docking
                    Units</a></li>-->
                <li><a ng-class="{'active': $state.includes('admin.docking-ports')}"
                       ui-sref="admin.docking-ports.manage">Docking
                    Ports</a></li>
                <li>
                    <a ng-class="{active: $state.includes('admin.bicycles')}"
                       ui-sref="admin.bicycles.manage">Bicycles</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.redistribution-vehicles')}"
                       ui-sref="admin.redistribution-vehicles.manage">Redistribution
                        Vehicles</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.holding-areas')}" ui-sref="admin.holding-areas.manage">Holding
                        Areas</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.maintenance-centres')}"
                       ui-sref="admin.maintenance-centres.manage">Maintenance Centres</a>
                </li>
                <!--registration centre-->
                <li>
                    <a ng-class="{active: $state.includes('admin.registration-centres')}"
                       ui-sref="admin.registration-centres.manage">Registration Centres</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.smart-cards')}" ui-sref="admin.smart-cards.manage">Smart
                        Cards</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.internal-stations')}" ui-sref="admin.internal-stations.manage">Internal Stations</a>
                </li>
                <li>
                    <a ng-class="{active: $state.includes('admin.fleets')}" ui-sref="admin.fleets.manage">Fleet</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.reports')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-chart"></i>Live Data</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.reports.monitor-transactions')}"
                       ui-sref="admin.reports.monitor-transactions">Bicycle Transactions</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.bicycle-availability') || $state.includes('admin.reports.port-information')}"
                       ui-sref="admin.reports.bicycle-availability">Bicycle Availability</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.port-status')}"
                       ui-sref="admin.reports.port-status">Port Status</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.bicycle-life-cycle')}"
                       ui-sref="admin.reports.bicycle-life-cycle">Bicycle Life Cycle</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.redistribution-vehicle-track')}"
                       ui-sref="admin.reports.redistribution-vehicle-track">Redistribution Vehicle Tracking</a>
                </li>
            </ul>
        </li>

        <!--new-->
        <li ng-class="{active: $state.includes('admin.ports-testing')}">
            <a ui-sref="admin.ports-testing.test"><i class="zmdi zmdi-badge-check"></i>Check In Check Out</a>
        </li>
        <li ng-class="{active: $state.includes('admin.checkincheckout-bridge')}">
            <a ui-sref="admin.checkincheckout-bridge.checkincheckout"><i class="zmdi zmdi-swap"></i>Check In Check Out - Bridge</a>
        </li>
        <!--new-->
       <!-- <li ng-class="{active: $state.includes('admin')}">
            <a ui-sref="admin"><i class="zmdi zmdi-balance-wallet"></i>Accounts</a>
        </li>-->
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.accounts') || $state.includes('admin.accounts.daywise-collectionsummary') || $state.includes('admin.accounts.refunds') || $state.includes('admin.accounts.bankcash-deposits')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Accounts</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.accounts.daywise-collectionsummary')}"
                       ui-sref="admin.accounts.daywise-collectionsummary">Daywise Transaction Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.cash-collectionsummary')}"
                       ui-sref="admin.accounts.cash-collectionsummary">Cash Balance Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.totalcash-report')}"
                       ui-sref="admin.accounts.totalcash-report">Total Cash Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.bankcashdeposit-report">Bank Cash Deposit Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.manage">Add Bank Cash Deposit</a>
                </li>
               <!-- <li><a ng-class="{'active': $state.includes('admin.accounts.refunds')}"
                       ui-sref="admin.accounts.refunds">Refunds</a>
                </li>-->
            </ul>
        </li>

        <!--maintenance-->
       <!-- <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.maintenance')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Maintenance</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.maintenance')}"
                       ui-sref="admin.maintenance.manage-view">Docking Station Clean</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.maintenance.new-design')}"
                       ui-sref="admin.maintenance.new-design.manageview">New Design</a>
                </li>
            </ul>
        </li>-->

        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.maintenance') || $state.includes('admin.maintenance.manage-view') || $state.includes('admin.maintenance.new-design')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Maintenance</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.maintenance')}"
                       ui-sref="admin.maintenance.manage-view">Docking Station Clean Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.maintenance.bicyle-maintenance')}"
                       ui-sref="admin.maintenance.bicycle-maintenance.report">Bicycle Maintenance Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.maintenance.new-design')}"
                       ui-sref="admin.maintenance.new-design.manageview">Add Cleaning Details</a>
                </li>

            </ul>
        </li>

       <!-- <li ng-class="{active: $state.includes('admin.registratiom-details')}">
            <a ui-sref="admin.registration-details.registration-details"><i class="zmdi zmdi-info "></i>Registration Details</a>
        </li>--><!--prashanth commented registration details on 19.11.16-->
        <li ng-class="{active: $state.includes('admin.tickets')}">
            <a ui-sref="admin.tickets.manage"><i class="zmdi zmdi-labels" focused="MemberName"></i>Tickets</a>
        </li>
        <li ng-class="{active: $state.includes('admin.kpi')}">
            <a ui-sref="admin.kpi.dash-board"><i class="zmdi zmdi-star"></i>Key Performance Indicator</a>
        </li>

        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.settings') || $state.includes('admin.settings.ticket-type') }">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Settings</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.settings.ticket-type')}"
                       ui-sref="admin.settings.ticket-type.manage">Ticket Type</a>
                </li>
            </ul>
        </li>

    </ul>

    <!--Login view for Registration employee-->
    <ul class="main-menu" ng-if="role=='registration-employee'" >
        <li ng-class="{active: $state.includes('admin.members')}">
         <!--   <a ui-sref="403"><i class="zmdi zmdi-mood"></i> Members</a>-->
            <a ui-sref="admin.members.manage"><i class="zmdi zmdi-mood"></i> Members</a>
        </li>
        <li ng-class="{active: $state.includes('admin.tickets')}">
            <a ui-sref="admin.tickets.manage"><i class="zmdi zmdi-labels"></i> Tickets</a>
        </li>
    </ul>

    <!--Login view for Monitor Group -->
    <ul class="main-menu" ng-if="role=='Monitor-group'" >
        <li ng-class="{active: $state.includes('admin.fare-plans')}">
            <a ui-sref="admin.fare-plans.manage"><i class="zmdi zmdi-money-box"></i> Fare Plans</a>
        </li>
        <li ng-class="{active: $state.includes('admin.membership')}">
            <a ui-sref="admin.membership.manage"><i class="zmdi zmdi-card-membership"></i> Membership Plans</a>
        </li>
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.accounts') || $state.includes('admin.accounts.daywise-collectionsummary') || $state.includes('admin.accounts.refunds') || $state.includes('admin.accounts.bankcash-deposits')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Accounts</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.accounts.daywise-collectionsummary')}"
                       ui-sref="admin.accounts.daywise-collectionsummary">Daywise Transaction Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.cash-collectionsummary')}"
                       ui-sref="admin.accounts.cash-collectionsummary">Cash Balance Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.totalcash-report')}"
                       ui-sref="admin.accounts.totalcash-report">Total Cash Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.bankcashdeposit-report">Bank Cash Deposit Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.manage">Add Bank Cash Deposit</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.refunds')}"
                       ui-sref="admin.accounts.refunds">Refunds</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('admin.kpi')}">
            <a ui-sref="admin.kpi.dash-board"><i class="zmdi zmdi-star"></i>Key Performance Indicator</a>
        </li>
    </ul>

    <!--Login view for Admin Accounts-->
    <ul class="main-menu" ng-if="role=='Accounts-admin'" >
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.accounts') || $state.includes('admin.accounts.daywise-collectionsummary') || $state.includes('admin.accounts.refunds') || $state.includes('admin.accounts.bankcash-deposits')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Accounts</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.accounts.daywise-collectionsummary')}"
                       ui-sref="admin.accounts.daywise-collectionsummary">Daywise Transaction Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.cash-collectionsummary')}"
                       ui-sref="admin.accounts.cash-collectionsummary">Cash Balance Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.totalcash-report')}"
                       ui-sref="admin.accounts.totalcash-report">Total Cash Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.bankcashdeposit-report">Bank Cash Deposit Report</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.bankcashdeposits')}"
                       ui-sref="admin.accounts.bankcashdeposits.manage">Add Bank Cash Deposit</a>
                </li>
                <li><a ng-class="{'active': $state.includes('admin.accounts.refunds')}"
                       ui-sref="admin.accounts.refunds">Refunds</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.maintenance')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-widgets"></i> Maintenance</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.maintenance')}"
                       ui-sref="admin.maintenance.add">Docking Station Clean</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('admin.kpi')}">
            <a ui-sref="admin.kpi.dash-board"><i class="zmdi zmdi-star"></i>Key Performance Indicator</a>
        </li>
    </ul>

    <!--Login view for Operator-->
    <ul class="main-menu" ng-if="role=='Operator'" >
        <li ng-class="{active: $state.includes('admin.members')}">
            <a ui-sref="admin.members.manage"><i class="zmdi zmdi-mood"></i> Members</a>
        </li>
        <li ng-class="{active: $state.includes('admin.employees')}" ng-if='admin'>
            <a ui-sref="admin.employees.manage"><i class="zmdi zmdi-accounts-alt"></i> Employees</a>
        </li>
        <li ng-class="{active: $state.includes('admin.tickets')}">
            <a ui-sref="admin.tickets.manage"><i class="zmdi zmdi-labels"></i> Tickets</a>
        </li>
        <li class="sub-menu"
            ng-class="{'active toggled': $state.includes('admin.reports')}">
            <a href="javascript:void(0);" toggle-submenu><i class="zmdi zmdi-chart"></i>Live Data</a>
            <ul>
                <li><a ng-class="{'active': $state.includes('admin.reports.monitor-transactions')}"
                       ui-sref="admin.reports.monitor-transactions">Bicycle Transactions</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.bicycle-availability') || $state.includes('admin.reports.port-information')}"
                       ui-sref="admin.reports.bicycle-availability">Bicycle Availability</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.port-status')}"
                       ui-sref="admin.reports.port-status">Port Status</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.bicycle-life-cycle')}"
                       ui-sref="admin.reports.bicycle-life-cycle">Bicycle Life Cycle</a>
                </li>
                <li>
                    <a ng-class="{'active': $state.includes('admin.reports.redistribution-vehicle-track')}"
                       ui-sref="admin.reports.redistribution-vehicle-track">Redistribution Vehicle Tracking</a>
                </li>
            </ul>
        </li>
    </ul>


</div>