<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="container">
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img src="assets/images/trintrin.jpg" class="i-logo"/>
            <h3>Trin Trin</h3>
            <h2>Mysuru</h2>
        </div>
        <br>
        <div class="card-header ch-alt text-center">
            <h2>User Account Status </h2>
        </div>
        <br>
        <form class="pmbb-edit" name="TotalCashReport"  novalidate>
            <div class="card-header ch-alt text-center">
                &nbsp;&nbsp;<label>Smart Card Number &nbsp;:</label> <span ng-bind="SmartCardNo"></span>
            </div>
            <br>
            <div style="text-align: center">
                <button id="export" data-export="export" class="btn btn-icon-text btn-success waves-effect">Export to CSV</button>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                </div>
            </div>
        </form>
    </div>

    <div >
        <table id="table_user_account" ng-table="UserAccountDetailsTable" class="table" >
            <tr ng-repeat="UserAccount in UserAccountDetails">
                <td data-title="'Date'" filter="{ creditBalance: 'text'}">
                    {{UserAccount.createdAt |  date : "dd MMM yy"}}
                </td>
                <td data-title="'Transaction Type'">
                    {{UserAccount.paymentDescription}}
                </td>
                <td data-title="'Transaction Mode'">
                    {{UserAccount.paymentMode}}
                </td>
                <td data-title="'Opening Balance'">
                    {{UserAccount.balance - UserAccount.credit + UserAccount.debit }}
                </td>
                <td data-title="'Transaction Amount'">
                    <label ng-if="UserAccount.credit>0"> Cr &nbsp;{{UserAccount.credit}}</label>
                    <label ng-if="UserAccount.debit>0">Db &nbsp;{{UserAccount.debit}}</label>
                </td>
                <td data-title="'Transaction Amount'" ng-if="pay.debit>0">
                    {{UserAccount.debit}} DB
                </td>
                <td data-title="'Closing Balance'">
                    {{UserAccount.balance}}
                </td>
            </tr>
        </table>
    </div>
</div>
<button  class="btn btn-float bgm-red m-btn" ng-click="myFun()"><i class="zmdi zmdi-print"></i></button>
<script>
    $(function(){
        $("#export").click(function(){
            $("#table_user_account").tableToCSV();
        });
    });
</script>




