<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="container">
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img src="assets/images/trintrin.jpg" class="i-logo"/>
            <h3>Trin Trin</h3>
            <h2>Mysuru</h2>
        </div>

        <br>

        <div class="card-header ch-alt text-center">
            <h2>Total Collection Report </h2>
        </div>
        <br>
            <form class="pmbb-edit" name="TotalCashReport"  novalidate>
                <div class="card-header ch-alt text-center">
                    &nbsp;&nbsp;<label>From &nbsp;:</label> <span ng-bind="totalCashPrintInput.TotalCashfromdate | date : 'dd MMM yy '"></span>&nbsp;&nbsp;-
                    &nbsp;&nbsp;<label>To&nbsp;:</label> <span ng-bind="totalCashPrintInput.TotalCashtodate | date : 'dd MMM yy '"></span>&nbsp; |
                    &nbsp;<label>Registration Centre&nbsp;:</label> <!--<span ng-bind="totalCashPrintInput.TotalCashlocation"></span>-->
                    <span ng-if="totalCashPrintInput.TotalCashlocation == '' || totalCashPrintInput.TotalCashlocation == null || totalCashPrintInput.TotalCashlocation == undefined">All</span>&nbsp;
                    <span ng-if="totalCashPrintInput.TotalCashlocation != ''">{{totalCashPrintInput.TotalCashlocation}}</span>&nbsp;
                    </div>
                <br>
                <div style="text-align: center">
                    <button id="export" data-export="export" class="btn btn-icon-text btn-success waves-effect">Export to CSV</button>
                </div>
                <br>
            </form>
    </div>

            <div >
                <table id="table_total" ng-table="totalCashTable" class="table" >
                    <tr ng-repeat="New1 in $data">
                        <td data-title="'Date'">
                            {{New1.date | date : "dd MMM yy"}}
                        </td>
                        <td data-title="'POS Collection Amount'">
                            {{New1.pos}}
                        </td>
                        <td data-title="'PG Collection Amount'">
                            {{New1.gateway}}
                        </td>
                        <td data-title="'Cash Collection Amount'">
                            {{New1.cash}}
                        </td>
                        <td data-title="'Total'">
                            {{New1.pos + New1.gateway + New1.cash }}
                        </td>
                    </tr>
                </table>
            </div>
    </div>
<button  class="btn btn-float bgm-red m-btn" ng-click="myFun()"><i class="zmdi zmdi-print"></i></button>

<script>
    $(function(){
        $("#export").click(function(){
            $("#table_total").tableToCSV();
        });
    });
</script>






