<div class="container">
    <div class="block-header">
        <h2>Fleet
            <small>Add all required details with fields marked as * are
                mandatory
            </small>
        </h2>
        <div class="actions m-t-10">
            <button type="button" class="btn btn-icon-text btn-default waves-effect m-r-5"
                    ng-click="cancelAddNewFleet();">
                <i class="zmdi zmdi-arrow-left"></i> Back to List
            </button>
            <button type="button" class="btn btn-icon-text btn-success waves-effect"
                    ng-click="SaveFleet();" ng-disabled="Fleet.$invalid">
                <i class="zmdi zmdi-save"></i> Save
            </button>
        </div>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail">
                            <img src="assets/images/no-maps.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pm-body clearfix">
            <form class="pmbb-edit" name="Fleet">
                <div class="pmb-block">
                    <div class="pmbb-header m-t-15">
                        <h2><i class="zmdi zmdi-collection-item m-r-10"></i>Fleet Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <dl class="dl-horizontal required">
                            <dt class="p-t-10">Fleet Name</dt>
                            <dd>
                                <div class="fg-line"
                                     ng-class="{ 'has-error': Fleet.fleetName.$touched && Fleet.fleetName.$invalid }">
                                    <input type="text" name="fleetName" ng-model="fleetDetails.name"
                                           class="form-control"
                                           placeholder="eg. " required>
                                    <span class="help-block"
                                          ng-messages="Fleet.fleetName.$error"
                                          ng-show="Fleet.fleetName.$touched">
                                                <small ng-message="required">Fleet Name is required</small>
                                            </span>
                                </div>
                            </dd>
                        </dl>

                       <!-- <dl class="dl-horizontal">
                            <dt class="p-t-10">GPS Coordinates</dt>
                            <dd>
                                <div class="col-sm-6 p-r-10">
                                    <div class="fg-line">
                                        <input type="text" name="latitude"
                                               ng-model="fleetDetails.gpsCoordinates.latitude"
                                               class="form-control input-sm form-inline"
                                               placeholder="Latitude">
                                        <span class="help-block"
                                              ng-messages="Fleet.latitude.$error"
                                              ng-show="Fleet.latitude.$touched">
                                                <small ng-message="required">Latitude is required</small>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="fg-line">
                                        <input type="text" name="longitude" class="form-control input-sm form-inline"
                                               ng-model="fleetDetails.gpsCoordinates.longitude"
                                               placeholder="Longitude">
                                        <span class="help-block"
                                              ng-messages="Fleet.longitude.$error"
                                              ng-show="Fleet.longitude.$touched">
                                                <small ng-message="required">Longitude is required</small>
                                            </span>
                                    </div>
                                </div>
                            </dd>
                        </dl>-->

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>