<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="container">
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img src="assets/images/trintrin.jpg" class="i-logo"/>
            <h3>Trin Trin</h3>
            <h2>Mysuru</h2>
        </div>
        <br>
        <div class="card-header ch-alt text-center">
            <h2>User Transaction Statistics</h2>
        </div>
        <br>
        <form class="pmbb-edit" name="TotalCashReport"  novalidate>
            <div class="card-header ch-alt text-center">
                &nbsp;&nbsp;<label>Smart Card Number &nbsp;:</label> <span ng-bind="SmartCardNo"></span>
            </div>
            <br>
            <div style="text-align: center">
                <button id="export" data-export="export" class="btn btn-icon-text btn-success waves-effect">Export to CSV</button>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                </div>
            </div>
        </form>
    </div>

    <div >
        <table id="table_user_rides" ng-table="UserRidesDetailsTable" class="table" >
            <tr ng-repeat="UserRides in UserRidesDetails">
                <td data-title="'Check Out Time'">
                    {{UserRides.checkOutTime |  date : "dd MMM yy"}}
                </td>
                <td data-title="'Check In Time'">
                    {{UserRides.checkInTime |  date : "dd MMM yy"}}
                </td>
                <td data-title="'Opening Balance'">
                    {{UserRides.balance - ride.fare}}
                </td>
                <td data-title="'Deducted Amount'">
                    {{UserRides.fare}}
                </td>
                <td data-title="'Closing Balance'">
                    {{UserRides.balance}}
                </td>
            </tr>
        </table>
    </div>
</div>
<button  class="btn btn-float bgm-red m-btn" ng-click="myFun()"><i class="zmdi zmdi-print"></i></button>
<script>
    $(function(){
        $("#export").click(function(){
            $("#table_user_rides").tableToCSV();
        });
    });
</script>




